/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
	font-family: Arial !important;
}

.chromeframe a {
	font-family: Arial;
}

header {
	margin: 30px 0;
}

html,body {
	height: 100%;
}
/* STICKY FOOTER */

.hide {display:none;}
.show {display:block;}
#page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push,footer {
	height: 60px;
}

footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#page, .wrapper {
	width: 940px;
	margin-left:auto;
	margin-right:auto;
}

.metrouicss h1 {
	
}

.metrouicss h1 a {
	color: inherit;
	font: inherit;
}

.metrouicss h1 a:hover {
	color: inherit;
}

.metrouicss h2 small {
	font-size: 14px;
}

.metrouicss .nav-bar.main_menu {
	width: auto;
	position: absolute;
	right: 0;
	bottom: 50%;
	top: auto;
	margin-bottom: -18.25px;
}

.metrouicss .nav-bar .nav-bar-inner>ul.menu>li:first-child {
	margin-left: 10px;
}

.metrouicss .nav-bar .nav-bar-inner>ul.menu.place-right>li {
	margin-left: 0;
	margin-right: 0;
}

#login-box button.standar {
	float: right;
	margin: 0;
}

#login-box .input-control.checkbox {
	line-height: 32px;
}

#register-box {
	padding: 8px;
	position: relative;
}

#register-box .input-control {
	width: 190px;
	float: left;
	margin-bottom: 0;
}

#register-box .input-control+.input-control {
	margin-left: 18px;
}

#register-box .save {
	float: right;
}

#register-box .save input {
	margin: 0;
	min-width: auto;
}

label {
	margin-bottom: 5px;
	display: inline-block;
}

label[data-role="helper"]:after {
	color: #2d89ef;
	font-size:1em;
	content: "\f05a";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	margin-top: 0;
	margin-left:3px;
	position: relative;
}

#subdomains-list li{display:block;float:left;}

.metrouicss a.delete-button{display:inline-block;}
.metrouicss a.delete-button:before{
	display:inline-block;
	width:26px;
	text-align:center;
	height:27px;
	border:1px solid #fff;
	margin:2px;
	font-family: 'iconFont';
	font-size: 12px;
	content: "\e089";
	line-height:27px;
}
.metrouicss a.delete-button:hover:before{background:#efefef;}
.metrouicss a.delete-button:active:before{color:#fff;background:#b91d47}

#overlay {position:fixed; background:rgba(0,0,0,0.5);width:100%;height:100%;z-index:9999;top:0;left:0;display:none;}
#confirm, #alert{display:none;}
#confirm .wrapper, #alert .wrapper{position:relative;min-height:100px;}
#confirm .actions, #alert .actions {position:absolute;bottom:0;right:0;}