{% extends '::base.metro.html.twig' %}

{% block body %}
<div class="row">
	<div class="page-region">
		<div class="page-region-content">
			<div class="row">
				<div class="span8">
					<div class="hero-unit">aaa</div>
				</div>
				<div class="span4">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and is_granted('ROLE_USER') %}
					<div id="profile-box" class="hero-unit">
						<h3 class="text-center"><i class="icon-bookmark-2"></i> Na skórty</h3>
					</div>
					{% else %}
					<div id="login-box" class="hero-unit">
						<h3 class="text-center"><i class="icon-locked"></i> Zaloguj się</h3>
						<br/>
						{{ render(controller('CoreUserBundle:Security:loginBox')) }}
					</div>
					{% endif %}
				</div>
			</div>
			{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') and not is_granted('ROLE_USER') %}
			<div class="row">
				<div class="span12">
					<h2><i class="icon-user"></i> Załóż konto <strong>już teraz</strong> <small>i sprawdź jak to działa!</small></h2>
					<div id="register-box" class="bg-color-lighten fg-color-white">
						{{ render(controller('CoreUserBundle:Registration:homePageBox')) }}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">
initHomePageLoginBox();
initHomePageRegistationBox()
</script>
{% endblock %}