{% extends '::base.html.twig' %}

{% block content %}
<div id="page">
	<div class="page grid">
		<div class="row">
			<div class="page-header">
				<div class="page-header-content">
					<h1><a href="{{ path('homepage') }}">SEOBot<small>praca dyplomowa</small></a></h1>
					<h3><small>Autor: Tomasz Stępniak</small></h3>
					<div class="main_menu nav-bar">
						<div class="nav-bar-inner">
						{{ knp_menu_render('CoreMainBundle:Builder:mainMenu') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% block body %}{% endblock %}
	</div>
	<div id="push"></div>
</div>
<footer></footer>
{% endblock %}   