<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SEOBot - praca dyplomowa{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/modern.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/modern-responsive.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/tipTip-modern.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/main-metro.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/font-awesome.min.css') }}" media="screen" />
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body class="metrouicss">
    <!--[if lt IE 9]>
     	<p class="chromeframe">Używasz <strong>przestarzałej</strong> przeglądarki. Prosimy <a href="http://browsehappy.com/">zaktualizować swoją przeglądarkę</a>.</p>
     <![endif]-->
    {% block content %}{% endblock %}
    <div id="confirm" class="message-dialog bg-color-blue"><div class="wrapper fg-color-white"><div class="content"></div><div class="actions"><button class="default confirm-modal">Tak</button> <button class="deny-modal">Nie</button></div></div></div>
    <div id="alert" class="error-bar"><div class="wrapper fg-color-white"><div class="content"></div><div class="actions"><button class="default close-modal">Zamknij</button></div></div></div>
    <div id="overlay"></div>
    <script type="text/javascript" src="{{ asset('/assets/js/metro/input-control.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/assets/js/plugins/jquery.tipTip.min.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('/assets/js/scripts.js') }}"></script> 
    {% block javascripts %}{% endblock %}
    </body>
</html>