{% extends '::base.html.twig' %}

{% block content %}
<div id="page">
	<div class="nav-bar">
        <div class="nav-bar-inner">
 
            <span class="element">Witaj <strong>{{ app.user.username }}</strong>!</span>
 
            <span class="divider"></span>
 
            {{ knp_menu_render('CoreMainBundle:Builder:profileMenu') }}
            <ul class="menu place-right">
            	<li class="bg-color-green"><a href="{{ url('homepage') }}"><i class="icon-home"></i> Wróć na stronę główną</a></li>
            	<li class="bg-color-red"><a href="{{ url('fos_user_security_logout') }}"><i class="icon-exit"></i> Wyloguj się</a></li>
            </ul>
        </div>
    </div>
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
            	<h1 id="profile-title">{{ title|default('')|raw }}</h1>
            	<a href="{{ back_url is defined?url(back_url):url('fos_user_profile_show') }}" class="back-button big page-back"></a>
            </div>
        </div>
 
        <div class="page-region">
            <div class="page-region-content">
				{% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/metro/dropdown.js') }}"></script>
{% endblock %}