<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" id="form-homepage-registration">
	<div class="input-control text">
 		{{ form_widget(form.username,  { 'attr': {'placeholder': 'Login','autocomplete':'off','title':'Podaj login, który wykorzystasz do logowania.'} }) }}
 		<button class="btn-clear helper"></button>
	</div>
	<div class="input-control text">
 		{{ form_widget(form.email,  { 'attr': {'placeholder': 'E-mail','autocomplete':'off','title':'Podaj e-mail, który wykorzystasz do aktywacji.'} }) }}
 		<button class="btn-clear helper"></button>
	</div>
	<div class="input-control password">
 		{{ form_widget(form.plainPassword.first,  { 'attr': {'placeholder': 'Hasło','autocomplete':'off','title':'Podaj hasło potrzebne do logowania.'} }) }}
 		<button class="btn-reveal helper" onclick="return false"></button>
	</div>
	<div class="input-control password">
 		{{ form_widget(form.plainPassword.second,  { 'attr': {'placeholder': 'Powtórz hasło','autocomplete':'off','title':'Powtórz podane hasło.'} }) }}
 		<button class="btn-reveal helper" onclick="return false"></button>
	</div>
    <div class="save"><input type="submit" class="bg-color-pink" value="Zapisz się" /></div>
    <div class="clearfix"></div>
</form>