<form action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div class="input-control text">
		<input type="text" placeholder="Login lub e-mail" id="username" name="_username" value="{{ last_username }}" required="required"/>
        <button class="btn-clear helper" onclick="return false"></button>
	</div>
	<div class="input-control password">
		<input type="password" placeholder="Hasło" id="password" name="_password" required="required"/>
        <button class="btn-reveal helper" onclick="return false"></button>
	</div>
	<label class="input-control checkbox">
		<input type="checkbox" id="remember_me" name="_remember_me" value="on">
        <span class="helper">Zapamiętaj</span>
	</label>
	<button class="standar default"><i class="icon-key" style="font-size:14px;"></i>Zaloguj się</button>
</form>