{% extends '::profile.base.html.twig' %}

{% set title = 'Zadania<small>Zarządzanie stronami</small>' %}

{% block body %}
<h2>Dodaj nową stronę</h2>
<form class="grid">
	<div class="row">
	 <div class="input-control text span9">
	 	{{ form_widget(form_new_page.domain) }}
        <button class="btn-reveal helper" onclick="return false"></button>
    </div>
    <div class="span1" style="margin-left:25px;">
    	<input type="submit" value="Dodaj"/>
    </div>
    </div>
    	<a href="javascript:;">Opcję dodatkowe</a>
    	<div class="additionl-options">
    		<br>
    		<div class="row">
	    		<div class="span5">
	    			{{ form_label(form_new_page.deep) }} <strong><big class="value">4</big></strong>
	    			<div id="deep-level" class="slider" data-role="slider" data-param-accuracy="10" data-param-init-value="30"></div>
	    			{{ form_widget(form_new_page.deep,{'attr':{'class':'hide'}}) }}
	    		</div>
	    		<div class="span4 offset1">
	    				{{ form_label(form_new_page.allowed_subdomain) }}
	    				<ul id="subdomains-list" class="unstyled">
	    					<li><a href="javascript:;" id="new-subdomain"><i class="icon2-plus-sign"></i> Dodaj subdomenę</a></li>
	    				</ul>
	    		</div>
    		</div>
    	</div>
</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('/assets/js/metro/slider.js') }}"></script>
<script type="text/javascript">
	$('#deep-level').on("change", function(e, val){
		var root = $(this)
		, color = '#008287'
		, input = root.next()
		, label = root.parent().find('.value')
		, value = Math.round(val/10)+1;
		
		input.val(value);
		if(value == 11)
			value = 'bez ograniczeń';
		label.text(value);

		if (val > 30) {
            color = 'orange';
        }
        if (val > 60) {
            color = 'red';
        }
        root.children(".complete").css("background-color",  color);
		
    })
    $('#new-subdomain').click(function(){
        var root = $(this) 
        , new_input = $('<input/>',{'type':'text','name':'{{ form_new_page.children.allowed_subdomain.vars['full_name'] }}','class':'span3','placeholder':'subdomena'})
        , list = root.parents('ul')
        , container = $('<li><div class="input-control text span3"></div><a href="javascript:;" class="delete-button fg-color-red"></a></li>')
        container.hide();
        root.parent().before(container);
        
        container.children('div').prepend(new_input);
        container.fadeIn('slow');
        container.find('.delete-button').click(function(){
            confirm('Na pewno chcesz usunąć tą subdomenę?',function(state){
                if(state)
                	container.fadeOut('slow',function(){$(this).remove()});
            });
        });
    });
</script>
{% endblock %}

